.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Fondo */
.Grupomain {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:cover; /* Asegura que la imagen cubra toda la pantalla */
  filter: brightness(0.6); /* oscurece un poco la imagen para que resalte el login */
  z-index: 0;
}

/* Capa para el formulario */
.login-overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  background: rgba(0, 0, 0, 0.3); /* un leve sombreado para resaltar el form */
}


