.item {
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
}

.icon {
  margin-right: 15px;
  color: #333;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.lastCommit, .status {
  font-size: 12px;
  color: #777;
  margin: 0;
}