.headcontent {
    display: flex;
    height: 100px;
    padding: 12px 40px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-bottom: 1px solid #000;
    background: #071739;
}

.futurep {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
}

.datcont {
    display: flex;
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
}

.ussrname {
    display: flex;
    width: 243px;
    height: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.usnm {
    color: #CDD5DB;
    font-family: var(--sds-typography-heading-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
}

.profile {
    color: #CDD5DB;
    font-family: var(--sds-typography-heading-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
}

.avatar {
    display: flex;
    width: 90px;
    height: 90px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 100px;
}