.opcionesproyecto {
    display: flex;
    width: 680px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.containerproy {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
}