.contplancom {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background: #E2E8F0;
  box-sizing: border-box;
  overflow: hidden;
}

.asigtar {
  display: flex;
  min-width: 100%;
  min-height: 85px;
  padding: 0 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  border-bottom: 0.8px solid #E2E8F0;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.titasig {
  display: flex;
  width: 459.369px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1E293B;
  font-family: "Segoe UI";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}

.descriasig {
  display: flex;
  width: 349.356px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #475569;
  font-family: "Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.contbutop {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 60px;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
  gap: 10px;
}



.tarbutoptn {
  width: 18px;
  height: 18px;
}

.txtbutoptn {
  display: flex;
  width: 92.392px;
  height: 21.6px;
  flex-direction: column;
  justify-content: center;
  color: #475569;
  text-align: center;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.apartoptn {
  display: flex;
  width: 80%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.txtapartoptn {
  width: 281px;
  flex-shrink: 0;
  color: #1E293B;
  font-family: var(--sds-typography-heading-font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--sds-typography-heading-font-weight);
  line-height: 120%;
  /* 28.8px */
  letter-spacing: -0.48px;
}


.buttnoptn {
  display: flex;
  align-items: center;
  gap: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  flex: 1;
  justify-content: space-evenly;
}

/* Efecto hover */
.buttnoptn:hover {
  background: rgba(37, 99, 235, 0.1);
}

/* Botón activo */
.buttnoptn.activo {
  border-radius: 6px;
  background: #2563EB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.buttnoptn.activo .txtbutoptn {
  color: white;
}

.buttnoptn.activo img {
  filter: brightness(0) invert(1);
  /* vuelve blanco el icono si es oscuro */
}



.agrebuttnoptn {
  display: flex;
  align-items: center;
  width: 332.5px;
  gap: 8px;
  padding: 13px 0px;
  border: none;
  border-radius: 6px;
  background: #2563EB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  justify-content: center;
}

.agrebuttnoptn:hover {
  background: #1E4ED8;
  /* un poco más oscuro */
}

.agretxtbutoptn {
  color: #FFF;
  text-align: center;
  font-family: "Segoe UI";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.plustarbutoptn {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  filter: brightness(0) invert(1);
}


.contenido-scroll {
  overflow-y: auto;
  /* permite scroll vertical */
  scrollbar-width: none;
  /* Oculta la barra en Firefox */
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Oculta la barra en Chrome, Edge, Safari */
.contenido-scroll::-webkit-scrollbar {
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

}