.tarjeta {
    display: flex;
    width: 80%;
    padding: 21px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
}

.prirapt {
    display: flex;
    align-items: center;
    gap: 150px;
    align-self: stretch;
}

.tittarj {
    display: flex;
    width: 148.995px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    color: #1E293B;
    font-family: "Segoe UI";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
}

.esttarea {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9999px;
    background: #DBEAFE;
}

.txtesttar {
    display: flex;
    width: 65.841px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    color: #1D4ED8;
    font-family: "Segoe UI";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 133.333% */
}

.segdapt {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.imatarj {
    width: 16px;
    height: 16px;
}

.tarjtxt {
    display: flex;
    width: 159.373px;
    height: 18.4px;
    flex-direction: column;
    justify-content: center;
    color: #475569;
    font-family: "Segoe UI";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.tercerapt {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}