/* Reset básico para eliminar márgenes blancos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales del body */
html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff; /* o el color base de tu app */
  font-family: 'Segoe UI', sans-serif;
}

/* Si usas un contenedor general tipo App */
#root, .App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contnt {
  display: flex;
  flex-direction: row; /* importante */
  height: 100%;
  width: 100%;
}
.inicio-page {
  display: flex;
  flex-direction: column; /* Header arriba */
  height: 100vh;
  width: 100%;
}