@import 'tailwindcss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0; /* Esto elimina el margen predeterminado del navegador */
  padding: 0;
  font-family: 'Inter', sans-serif; /* Usar una fuente moderna */
  /* Asegura que el color de fondo sea el mismo que el del layout principal */
  background-color: #f0f2f5; 
}

/* Opcional: Box Sizing para manejo de layout más fácil */
*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}